<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="TfF30Aiq6Xru76A471los5uWsgMzrzPlIyCgXOG2">

    <link rel="shortcut icon" type="image/png" href="asset/theme1/images/icon/icon.jpg">

    <title>
                    Hyipmax-
                About
    </title>
    <link rel="stylesheet" href="asset/theme1/frontend/css/cookie.css">
    <link href="asset/common/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="asset/common/css/animate.min.css">
    <link rel="stylesheet" href="asset/common/css/slick.css">
    <link rel="stylesheet" href="asset/common/css/font-awsome.min.css">
    <link rel="stylesheet" href="asset/common/css/iziToast.min.css">
    <link href="asset/theme1/frontend/css/style.css" rel="stylesheet">

    
    <link rel="stylesheet" href="asset/theme1/frontend/css/color.php?primary_color=d77600">
</head>


<body>

            <div id="preloader"></div>
    

            <div class="js-cookie-consent cookie-consent cookie-modal">

    <div class="cookies-card__icon">
        <i class="fas fa-cookie-bite"></i>
      </div>

    <span class="cookie-consent__message">
        Accept cookie for this site
    </span>

    <button class="js-cookie-consent-agree cookie-consent__agree btn">
        Accept cookie
    </button>
   

</div>




    
    
    <script>
        'use strict'

        window.laravelCookieConsent = (function () {

            const COOKIE_VALUE = 1;
            const COOKIE_DOMAIN = 'hyipmax.springsoftit.com';

            function consentWithCookies() {
                setCookie('laravel_cookie_consent', COOKIE_VALUE, 7300);
                hideCookieDialog();
            }

            function cookieExists(name) {
                return (document.cookie.split('; ').indexOf(name + '=' + COOKIE_VALUE) !== -1);
            }

            function hideCookieDialog() {
                const dialogs = document.getElementsByClassName('js-cookie-consent');

                for (let i = 0; i < dialogs.length; ++i) {
                    dialogs[i].style.display = 'none';
                }
            }

            function setCookie(name, value, expirationInDays) {
                const date = new Date();
                date.setTime(date.getTime() + (expirationInDays * 24 * 60 * 60 * 1000));
                document.cookie = name + '=' + value
                    + ';expires=' + date.toUTCString()
                    + ';domain=' + COOKIE_DOMAIN
                    + ';path=/'
                    + '';
            }

            if (cookieExists('laravel_cookie_consent')) {
                hideCookieDialog();
            }

            const buttons = document.getElementsByClassName('js-cookie-consent-agree');

            for (let i = 0; i < buttons.length; ++i) {
                buttons[i].addEventListener('click', consentWithCookies);
            }

            return {
                consentWithCookies: consentWithCookies,
                hideCookieDialog: hideCookieDialog
            };
        })();
    </script>



    

    
    <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

        <div class="logo me-auto me-lg-0"><a href="index.htm">
                <span>

                                            <img class="img-fluid rounded sm-device-img text-align" src="asset/theme1/images/logo/logo.png" width="100%" alt="pp">
                    
                </span>
            </a>
        </div>
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li class=""><a class="nav-link" href="index.htm">Home</a></li>
                <li><a class="nav-link" href="investment/plan.html">Investment plans</a>
                </li>

                                    <li><a class="nav-link" href="about.html">About</a>
                    </li>
                                    <li><a class="nav-link" href="contact.html">Contact</a>
                    </li>
                                <li><a class="nav-link" href="blogs.html">Blog</a></li>

                

                <li class="d-md-block d-lg-none d-block ">
                                            <a class="nav-link" href="login.html">Login</a>
                                    </li>


                <li class=" d-sm-block d-md-block d-lg-none">
                    <select class="custom-select-form selectric ms-3 rounded changeLang nav-link scrollto" aria-label="Default select example">
                                                    <option value="ka">
                                Georgia
                            </option>
                                                    <option value="pt">
                                Portuguese
                            </option>
                                                    <option value="fr">
                                Francais
                            </option>
                                                    <option value="afr">
                                Afrikaans
                            </option>
                                                    <option value="spanish">
                                Spanish
                            </option>
                                                    <option value="EN">
                                English
                            </option>
                                            </select>
                </li>

                

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <div class="header-right d-flex d-none  d-md-none d-lg-block">
                            <a href="login.html" class="sp_btn_border sp_btn_sm me-3">Login</a>
                        <select class="changeLang" aria-label="Default select example">
                                    <option value="ka">
                        Georgia
                    </option>
                                    <option value="pt">
                        Portuguese
                    </option>
                                    <option value="fr">
                        Francais
                    </option>
                                    <option value="afr">
                        Afrikaans
                    </option>
                                    <option value="spanish">
                        Spanish
                    </option>
                                    <option value="EN">
                        English
                    </option>
                            </select>
        </div>
    </div>
</header>
    <main id="main" class="main-img">

            <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs" style="background-image: url(asset/theme1/images/breadcrumbs/breadcrumbs.jpg);">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center text-capitalize">
                <h2>About</h2>
                <ol>
                    <li><a href="index.htm">Home</a></li>
                    <li>About</li>
                </ol>
            </div>

        </div>
    </section>
    <!-- End Breadcrumbs -->

                        <section class="about-section s-pt-100 s-pb-100 dark-bg">
       <div class="shape-el">
           <img src="asset/theme1/images/about/flow-chart.png" alt="image">
       </div>
       <div class="container">
           <div class="row align-items-center">
               <div class="col-lg-6">
                   <div class="about-thumb">
                       <div class="about-thumb-inner">
                           <img src="asset/theme1/images/about/6257a3187a4ca1649910552.png" alt="image">
                           <div class="about-thumb-line about-thumb-line-one"></div>
                           <div class="about-thumb-line about-thumb-line-two"></div>
                       </div>
                   </div>
               </div>
               <div class="col-lg-6">
                   <h2 class="site-title">About us</h2>
                   <p class="text-white text-justifys descripton-root">
                       <strong>Lorem Ipsum</strong><span style="color:rgb(0,0,0);font-family:'Open Sans', Arial, sans-serif;font-size:14px;text-align:justify;"> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span><br>                   </p>
                   <a href="/about" class="sp_theme_btn mt-4">Learn more</a>
               </div>
           </div>

       </div>
   </section>                    <section class="s-pt-100 s-pb-100 dark-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="site-header">
                    <h2 class="site-title">FAQ</h2>
                </div>
            </div>
        </div>

        <div class="row g-3">
                            <div class="col-md-6">
                    <div class="accordion" id="accordionExample">

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-1">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapseSix">
                                    When can I deposit/withdraw from my Investment account?
                                </button>
                            </h2>
                            <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading-1" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias fuga sit architecto sint voluptas adipisci similique magnam iusto magni sequi?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-6">
                    <div class="accordion" id="accordionExample">

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapseSix">
                                    How do I check my account balance?
                                </button>
                            </h2>
                            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias fuga sit architecto sint voluptas adipisci similique magnam iusto magni sequi?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-6">
                    <div class="accordion" id="accordionExample">

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapseSix">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </button>
                            </h2>
                            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p> Fugiat, obcaecati quasi. Adipisci sapiente, nesciunt officiis minus in pariatur nam dolore dicta cupiditate! Ipsam dolores iusto consectetur sit, dolore voluptatibus officia soluta doloremque tempora sint quas beatae! Sit est quos, reprehenderit iste velit eum ex ullam cupiditate officia unde, facilis dolorum ab quibusdam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-6">
                    <div class="accordion" id="accordionExample">

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapseSix">
                                    Tenetur laudantium sed sequi pariatur nam dolore dicta
                                </button>
                            </h2>
                            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading-4" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p> Fugiat, obcaecati quasi. Adipisci sapiente, nesciunt officiis minus in pariatur nam dolore dicta cupiditate! Ipsam dolores iusto consectetur sit, dolore voluptatibus officia soluta doloremque tempora sint quas beatae! Sit est quos, reprehenderit iste velit eum ex ullam cupiditate officia unde, facilis dolorum ab quibusdam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-6">
                    <div class="accordion" id="accordionExample">

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapseSix">
                                    Ipsam dolores iusto consectetur sit, dolore voluptatibus officia.
                                </button>
                            </h2>
                            <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p> Fugiat, obcaecati quasi. Adipisci sapiente, nesciunt officiis minus in pariatur nam dolore dicta cupiditate! Ipsam dolores iusto consectetur sit, dolore voluptatibus officia soluta doloremque tempora sint quas beatae! Sit est quos, reprehenderit iste velit eum ex ullam cupiditate officia unde, facilis dolorum ab quibusdam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-6">
                    <div class="accordion" id="accordionExample">

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-6">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapseSix">
                                    Repellat, et sapiente? Nisi nemo, voluptate voluptates unde molestias.
                                </button>
                            </h2>
                            <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading-6" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p> Fugiat, obcaecati quasi. Adipisci sapiente, nesciunt officiis minus in pariatur nam dolore dicta cupiditate! Ipsam dolores iusto consectetur sit, dolore voluptatibus officia soluta doloremque tempora sint quas beatae! Sit est quos, reprehenderit iste velit eum ex ullam cupiditate officia unde, facilis dolorum ab quibusdam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</section>
                    <section class="s-pt-100 s-pb-100 dark-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="site-header">
                    <h2 class="site-title">What our clients say</h2>
                </div>
            </div>
        </div>

        <div class="testimonial-slider">
                            <div class="single-slide">
                    <div class="testimonial-box">
                        <div class="content">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                        <div class="client">
                            <div class="thumb">
                                <img src="asset/theme1/images/testimonial/61fd4cd9cd3bb1643990233.jpg" class="testimonial-img" alt="">
                            </div>
                            <h3 class="title">Jhon Doe</h3>
                            <span class="designation">Ceo &amp;amp; Founder</span>
                        </div>

                    </div>
                </div>
                            <div class="single-slide">
                    <div class="testimonial-box">
                        <div class="content">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                        <div class="client">
                            <div class="thumb">
                                <img src="asset/theme1/images/testimonial/61fd4de828e951643990504.jpg" class="testimonial-img" alt="">
                            </div>
                            <h3 class="title">Samili Begum</h3>
                            <span class="designation">Store Owner</span>
                        </div>

                    </div>
                </div>
                            <div class="single-slide">
                    <div class="testimonial-box">
                        <div class="content">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                        <div class="client">
                            <div class="thumb">
                                <img src="asset/theme1/images/testimonial/61fd4e4f859dd1643990607.jpg" class="testimonial-img" alt="">
                            </div>
                            <h3 class="title">Jamal Akter</h3>
                            <span class="designation">Freelancer</span>
                        </div>

                    </div>
                </div>
                            <div class="single-slide">
                    <div class="testimonial-box">
                        <div class="content">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                        <div class="client">
                            <div class="thumb">
                                <img src="asset/theme1/images/testimonial/6253da0b3e71e1649662475.jpg" class="testimonial-img" alt="">
                            </div>
                            <h3 class="title">Jamal Akter</h3>
                            <span class="designation">Freelancer</span>
                        </div>

                    </div>
                </div>
                    </div>
    </div>
</section>
                    <section class="subscribe-section">
    <div class="subscribe-el">
        <img src="asset/theme1/images/elements/paper-plane.png" alt="image">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="site-header">
                    <h2 class="site-title">Our newsletter</h2>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <form class="subscribe-form" id="subscribe" method="POST">
                    <input type="hidden" name="_token" value="TfF30Aiq6Xru76A471los5uWsgMzrzPlIyCgXOG2">                    <input type="text" name="email" class="form-control subscribe-email" placeholder="Enter email here">
                    <button>Subscribe <i class="fas fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    </div>
</section>
            



    </main>

    <footer class="footer-section has-bg-img">
    <div class="footer-logo-portion">
        <div class="container">
            <div class="row gy-3 align-items-center">
                <div class="col-lg-5">
                    <ul class="footer-inline-list justify-content-lg-start justify-content-center">
                        <li>
                            <a href="#0"><i class="fas fa-envelope"></i> Info@example.com</a>
                        </li>
                        <li>
                            <a href="#0"><i class="fas fa-phone"></i> +1 5589 55488 55s</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 text-center">
                    <a href="index.htm" class="footer-logo">
                                                    <img class="img-fluid rounded sm-device-img text-align" src="asset/theme1/images/logo/logo.png" width="100%" alt="pp">
                                            </a>
                </div>

                <div class="col-lg-5">
                    <ul class="social-links justify-content-lg-end justify-content-center">
                                                    <li>
                                <a href="Http://www.facebook.com" target="_blank" class="twitter"><i class="fab fa-facebook-f"></i></a>
                            </li>
                                                    <li>
                                <a href="Http://www.linkedin.com" target="_blank" class="twitter"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                                                    <li>
                                <a href="Http://www.twitter.com" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
                            </li>
                                                    <li>
                                <a href="#" target="_blank" class="twitter"><i class="fab fa-pinterest-p"></i></a>
                            </li>
                                            </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-menu-portion">
        <div class="container">
            <div class="row gy-2">
                <div class="col-lg-6">
                    <ul class="footer-inline-list justify-content-lg-start justify-content-center">
                        <li> <a href="index.htm">Home</a></li>
                                                    <li><a href="about.html">About</a></li>
                                                    <li><a href="contact.html">Contact</a></li>
                                            </ul>
                </div>
                <div class="col-lg-6 text-lg-end text-center">
                    <p class="mb-0">
                                                    Copyright 2023 hyip max. all rights reserved.
                                            </p>
                </div>
            </div>
        </div>
    </div>
</footer>

    

    <button type="button" class="sp_btn sp_btn_sm btn-floating" id="btn-back-to-top">
        <i class="fas fa-arrow-up text-light"></i>
    </button>

    <script src="asset/common/js/jquery.min.js"></script>
    <script src="asset/common/js/bootstrap.bundle.min.js"></script>
    <script src="asset/common/js/slick.min.js"></script>
    <script src="asset/common/js/iziToast.min.js"></script>
    <script src="asset/theme1/frontend/js/main.js"></script>

        


    
    
    
    




    <script>
        'use strict'


        $(document).on('submit', '#subscribe', function(e) {
            e.preventDefault();
            const email = $('.subscribe-email').val();
            var url = "https://hyipmax.springsoftit.com/demo/subscribe";
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    email: email,
                },
                success: (data) => {
                    iziToast.success({
                        message: data.message,
                        position: 'topRight',
                    });
                    $('.subscribe-email').val('');

                },
                error: (error) => {
                    if (typeof(error.responseJSON.errors.email) !== "undefined") {
                        iziToast.error({
                            message: error.responseJSON.errors.email,
                            position: 'topRight',
                        });
                    }

                }
            })

        });

        var url = "https://hyipmax.springsoftit.com/demo/changeLang";

        $(".changeLang").change(function() {
            if ($(this).val() == '') {
                return false;
            }
            window.location.href = url + "?lang=" + $(this).val();
        });
        //Get the button
        let mybutton = document.getElementById("btn-back-to-top");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        mybutton.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>


</body>


</html>
