<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="TfF30Aiq6Xru76A471los5uWsgMzrzPlIyCgXOG2">

    <link rel="shortcut icon" type="image/png" href="asset/theme1/images/icon/icon.jpg">

    <title>
                    Hyipmax-
                Login page
    </title>


    <link rel="stylesheet" href="asset/common/css/bootstrap.min.css">
    <link rel="stylesheet" href="asset/common/css/animate.min.css">
    <link rel="stylesheet" href="asset/common/css/slick.css">
    <link rel="stylesheet" href="asset/common/css/font-awsome.min.css">
    <link rel="stylesheet" href="asset/common/css/iziToast.min.css">
    <link rel="stylesheet" href="asset/theme1/frontend/css/cookie.css">
    <link rel="stylesheet" href="asset/theme1/frontend/css/style.css">
    <style></style>
    
    <link rel="stylesheet" href="asset/theme1/frontend/css/color.php?primary_color=d77600">
</head>


<body>

            <div id="preloader"></div>
    

            <div class="js-cookie-consent cookie-consent cookie-modal">

    <div class="cookies-card__icon">
        <i class="fas fa-cookie-bite"></i>
      </div>

    <span class="cookie-consent__message">
        Accept cookie for this site
    </span>

    <button class="js-cookie-consent-agree cookie-consent__agree btn">
        Accept cookie
    </button>
   

</div>




    
    
    <script>
        'use strict'

        window.laravelCookieConsent = (function () {

            const COOKIE_VALUE = 1;
            const COOKIE_DOMAIN = 'hyipmax.springsoftit.com';

            function consentWithCookies() {
                setCookie('laravel_cookie_consent', COOKIE_VALUE, 7300);
                hideCookieDialog();
            }

            function cookieExists(name) {
                return (document.cookie.split('; ').indexOf(name + '=' + COOKIE_VALUE) !== -1);
            }

            function hideCookieDialog() {
                const dialogs = document.getElementsByClassName('js-cookie-consent');

                for (let i = 0; i < dialogs.length; ++i) {
                    dialogs[i].style.display = 'none';
                }
            }

            function setCookie(name, value, expirationInDays) {
                const date = new Date();
                date.setTime(date.getTime() + (expirationInDays * 24 * 60 * 60 * 1000));
                document.cookie = name + '=' + value
                    + ';expires=' + date.toUTCString()
                    + ';domain=' + COOKIE_DOMAIN
                    + ';path=/'
                    + '';
            }

            if (cookieExists('laravel_cookie_consent')) {
                hideCookieDialog();
            }

            const buttons = document.getElementsByClassName('js-cookie-consent-agree');

            for (let i = 0; i < buttons.length; ++i) {
                buttons[i].addEventListener('click', consentWithCookies);
            }

            return {
                consentWithCookies: consentWithCookies,
                hideCookieDialog: hideCookieDialog
            };
        })();
    </script>



    

        <main id="main" class="main-img">

                <section class="auth-section">
        <div class="auth-wrapper">
            <div class="auth-top-part">
                <a href="index.htm" class="auth-logo">
                    <img class="img-fluid rounded sm-device-img text-align" src="asset/theme1/images/logo/logo.png" width="100%" alt="pp">
                </a>
                <p class="mb-0"><span class="me-2">Haven&#039;t an account?</span> <a class="sp_theme_btn sp_btn_sm" href="register.html">Register</a></p>
            </div>
            <div class="auth-body-part">
                <div class="auth-form-wrapper">
                    <h3 class="text-center mb-4">Login your account</h3>
                    <form action="" method="POST">
                        <input type="hidden" name="_token" value="TfF30Aiq6Xru76A471los5uWsgMzrzPlIyCgXOG2">                        <div class="mb-3">
                            <label for="formGroupExampleInput">Email</label>
                            <input type="email" class="form-control" name="email" value="" id="email" placeholder="Enter your email">
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput">Pasword</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
                        </div>
                        <p class="text-end"><a href="forgot/password.html" class="color-change">Forget password?</a></p>
                                                <button class="sp_theme_btn w-100" type="submit"> Log in </button>
                    </form>
                </div>
            </div>
            <div class="auth-footer-part">
                <p class="text-center mb-0">
                                            Copyright 2023 hyip max. all rights reserved.
                                    </p>
            </div>
        </div>
        <div class="auth-thumb-area">
            <div class="auth-thumb">
                <img src="asset/theme1/images/frontendlogin/frontend_login_image.png" alt="image">
            </div>
        </div>
    </section>

    </main>

   

    <button type="button" class="sp_btn sp_btn_warning  btn-floating btn-lg" id="btn-back-to-top">
        <i class="fas fa-arrow-up text-light"></i>
    </button>

    <script src="asset/common/js/jquery.min.js"></script>
    <script src="asset/common/js/bootstrap.bundle.min.js"></script>
    <script src="asset/common/js/slick.min.js"></script>
    <script src="asset/common/js/iziToast.min.js"></script>
    <script src="asset/theme1/frontend/js/main.js"></script>

        <script>
        "use strict";
        function submitUserForm() {
            var response = grecaptcha.getResponse();
            if (response.length == 0) {
                document.getElementById('g-recaptcha-error').innerHTML =
                    "<span class='text-danger'>@changeLang('Captcha field is required.')</span>";
                return false;
            }
            return true;
        }

        function verifyCaptcha() {
            document.getElementById('g-recaptcha-error').innerHTML = '';
        }
    </script>
    


    
    
    
    

    <script>
        'use strict';
        


        $(document).ready(function() {
            $('#trial_subscribe').on('click', function(e) {

                e.preventDefault();
                var email = $('#trial_email').val();

                $.ajaxSetup({
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                });

                $.ajax({
                    method: 'POST',
                    url: "https://hyipmax.springsoftit.com/demo/subscribe",
                    data: {
                        email: email
                    },
                    success: function(response) {

                        if (response.fails) {
                            notify('error', response.errorMsg.email)

                        }

                        if (response.success) {
                            $('#email').val('');
                            notify('success', response.successMsg)

                        }
                    }
                });
            })


        });
    </script>


    <script>
        'use strict'
        var url = "https://hyipmax.springsoftit.com/demo/changeLang";

        $(".changeLang").change(function() {
            if ($(this).val() == '') {
                return false;
            }
            window.location.href = url + "?lang=" + $(this).val();
        });
        //Get the button
        let mybutton = document.getElementById("btn-back-to-top");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        mybutton.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>


</body>


</html>
