<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="TfF30Aiq6Xru76A471los5uWsgMzrzPlIyCgXOG2">

    <link rel="shortcut icon" type="image/png" href="../../asset/theme1/images/icon/icon.jpg">

    <title>
                    Hyipmax-
                Recent blog
    </title>
    <link rel="stylesheet" href="../../asset/theme1/frontend/css/cookie.css">
    <link href="../../asset/common/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../asset/common/css/animate.min.css">
    <link rel="stylesheet" href="../../asset/common/css/slick.css">
    <link rel="stylesheet" href="../../asset/common/css/font-awsome.min.css">
    <link rel="stylesheet" href="../../asset/common/css/iziToast.min.css">
    <link href="../../asset/theme1/frontend/css/style.css" rel="stylesheet">

    
    <link rel="stylesheet" href="../../asset/theme1/frontend/css/color.php?primary_color=d77600">
</head>


<body>

            <div id="preloader"></div>
    

            <div class="js-cookie-consent cookie-consent cookie-modal">

    <div class="cookies-card__icon">
        <i class="fas fa-cookie-bite"></i>
      </div>

    <span class="cookie-consent__message">
        Accept cookie for this site
    </span>

    <button class="js-cookie-consent-agree cookie-consent__agree btn">
        Accept cookie
    </button>
   

</div>




    
    
    <script>
        'use strict'

        window.laravelCookieConsent = (function () {

            const COOKIE_VALUE = 1;
            const COOKIE_DOMAIN = 'hyipmax.springsoftit.com';

            function consentWithCookies() {
                setCookie('laravel_cookie_consent', COOKIE_VALUE, 7300);
                hideCookieDialog();
            }

            function cookieExists(name) {
                return (document.cookie.split('; ').indexOf(name + '=' + COOKIE_VALUE) !== -1);
            }

            function hideCookieDialog() {
                const dialogs = document.getElementsByClassName('js-cookie-consent');

                for (let i = 0; i < dialogs.length; ++i) {
                    dialogs[i].style.display = 'none';
                }
            }

            function setCookie(name, value, expirationInDays) {
                const date = new Date();
                date.setTime(date.getTime() + (expirationInDays * 24 * 60 * 60 * 1000));
                document.cookie = name + '=' + value
                    + ';expires=' + date.toUTCString()
                    + ';domain=' + COOKIE_DOMAIN
                    + ';path=/'
                    + '';
            }

            if (cookieExists('laravel_cookie_consent')) {
                hideCookieDialog();
            }

            const buttons = document.getElementsByClassName('js-cookie-consent-agree');

            for (let i = 0; i < buttons.length; ++i) {
                buttons[i].addEventListener('click', consentWithCookies);
            }

            return {
                consentWithCookies: consentWithCookies,
                hideCookieDialog: hideCookieDialog
            };
        })();
    </script>



    

    
    <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

        <div class="logo me-auto me-lg-0"><a href="../../index.htm">
                <span>

                                            <img class="img-fluid rounded sm-device-img text-align" src="../../asset/theme1/images/logo/logo.png" width="100%" alt="pp">
                    
                </span>
            </a>
        </div>
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li class=""><a class="nav-link" href="../../index.htm">Home</a></li>
                <li><a class="nav-link" href="../../investment/plan.html">Investment plans</a>
                </li>

                                    <li><a class="nav-link" href="../../about.html">About</a>
                    </li>
                                    <li><a class="nav-link" href="../../contact.html">Contact</a>
                    </li>
                                <li><a class="nav-link" href="../../blogs.html">Blog</a></li>

                

                <li class="d-md-block d-lg-none d-block ">
                                            <a class="nav-link" href="../../login.html">Login</a>
                                    </li>


                <li class=" d-sm-block d-md-block d-lg-none">
                    <select class="custom-select-form selectric ms-3 rounded changeLang nav-link scrollto" aria-label="Default select example">
                                                    <option value="ka">
                                Georgia
                            </option>
                                                    <option value="pt">
                                Portuguese
                            </option>
                                                    <option value="fr">
                                Francais
                            </option>
                                                    <option value="afr">
                                Afrikaans
                            </option>
                                                    <option value="spanish">
                                Spanish
                            </option>
                                                    <option value="EN">
                                English
                            </option>
                                            </select>
                </li>

                

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <div class="header-right d-flex d-none  d-md-none d-lg-block">
                            <a href="../../login.html" class="sp_btn_border sp_btn_sm me-3">Login</a>
                        <select class="changeLang" aria-label="Default select example">
                                    <option value="ka">
                        Georgia
                    </option>
                                    <option value="pt">
                        Portuguese
                    </option>
                                    <option value="fr">
                        Francais
                    </option>
                                    <option value="afr">
                        Afrikaans
                    </option>
                                    <option value="spanish">
                        Spanish
                    </option>
                                    <option value="EN">
                        English
                    </option>
                            </select>
        </div>
    </div>
</header>
    <main id="main" class="main-img">

            <section class="breadcrumbs" style="background-image: url(../../asset/theme1/images/breadcrumbs/breadcrumbs.jpg);">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center text-capitalize">
                <h2>Recent blog</h2>
                <ol>
                    <li><a href="../../index.htm">Home</a></li>
                    <li>Recent blog</li>
                </ol>
            </div>

        </div>
    </section>




    <!-- ======= Portfolio Section ======= -->
    <section class="s-pt-100 s-pb-100">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-8">
                    <div class="card bg-second">
                        <img src="../../asset/theme1/images/blog/624d61e797df71649238503.jpg" height="400px" width="100%" alt="blog">

                        <div class="p-3">
                            <h3 class="mt-3"><b>Similique totam harum rerum.</b></h3>
                            <p class="text-justifys"> <p><span style="font-size:16px;">Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since </span><br></p>                            
                        </div>

                        <div class="social-links my-3 ms-3">
                            <h5 class="d-inline me-2">Share:</h5>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://hyipmax.springsoftit.com/demo/blog/31/similique-totam-harum-rerum" target="_blank" class="social-links-btn sp_btn_border sp_btn_sm">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://www.twitter.com/intent/tweet?text=blog;url=https://hyipmax.springsoftit.com/demo/blog/31/similique-totam-harum-rerum" target="_blank" class="social-links-btn sp_btn_border sp_btn_sm"><i class="bx bxl-twitter"></i></a>
                        </div>
                    </div>

                    <div class="mt-5">
                        <h3>All comments</h3>
                        <hr>

                                                    <p>Comment not found</p>
                        
                        


                    </div>

                                    </div>
                <div class="col-lg-4 ps-lg-5">
                    <div class="card bg-second">
                        <div class="card-header">
                            <h4 class="mb-0">Recent blogs</h4>
                        </div>
                        <div class="card-body">
                            <div class="side-blog-list">
                                                                    <div class="side-blog">
                                        <div class="side-blog-thumb">
                                            <img src="../../asset/theme1/images/blog/624d61e797df71649238503.jpg" alt="image">
                                        </div>
                                        <div class="side-blog-content">
                                            <h6 class="mb-0"><a href="similique-totam-harum-rerum.html">Similique totam harum rerum.</a>
                                            </h6>
                                        </div>
                                    </div>
                                                                    <div class="side-blog">
                                        <div class="side-blog-thumb">
                                            <img src="../../asset/theme1/images/blog/624d62471f5b51649238599.jpg" alt="image">
                                        </div>
                                        <div class="side-blog-content">
                                            <h6 class="mb-0"><a href="../39/facere-asperiores-odio-id-porro.html">Facere asperiores odio id porro.</a>
                                            </h6>
                                        </div>
                                    </div>
                                                                    <div class="side-blog">
                                        <div class="side-blog-thumb">
                                            <img src="../../asset/theme1/images/blog/624d626242e021649238626.jpg" alt="image">
                                        </div>
                                        <div class="side-blog-content">
                                            <h6 class="mb-0"><a href="../40/eligendi-distinctio-molestias-ducimus.html">Eligendi distinctio molestias ducimus.</a>
                                            </h6>
                                        </div>
                                    </div>
                                                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Section -->

    </main>

    <footer class="footer-section has-bg-img">
    <div class="footer-logo-portion">
        <div class="container">
            <div class="row gy-3 align-items-center">
                <div class="col-lg-5">
                    <ul class="footer-inline-list justify-content-lg-start justify-content-center">
                        <li>
                            <a href="#0"><i class="fas fa-envelope"></i> Info@example.com</a>
                        </li>
                        <li>
                            <a href="#0"><i class="fas fa-phone"></i> +1 5589 55488 55s</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 text-center">
                    <a href="../../index.htm" class="footer-logo">
                                                    <img class="img-fluid rounded sm-device-img text-align" src="../../asset/theme1/images/logo/logo.png" width="100%" alt="pp">
                                            </a>
                </div>

                <div class="col-lg-5">
                    <ul class="social-links justify-content-lg-end justify-content-center">
                                                    <li>
                                <a href="Http://www.facebook.com" target="_blank" class="twitter"><i class="fab fa-facebook-f"></i></a>
                            </li>
                                                    <li>
                                <a href="Http://www.linkedin.com" target="_blank" class="twitter"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                                                    <li>
                                <a href="Http://www.twitter.com" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
                            </li>
                                                    <li>
                                <a href="#" target="_blank" class="twitter"><i class="fab fa-pinterest-p"></i></a>
                            </li>
                                            </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-menu-portion">
        <div class="container">
            <div class="row gy-2">
                <div class="col-lg-6">
                    <ul class="footer-inline-list justify-content-lg-start justify-content-center">
                        <li> <a href="../../index.htm">Home</a></li>
                                                    <li><a href="../../about.html">About</a></li>
                                                    <li><a href="../../contact.html">Contact</a></li>
                                            </ul>
                </div>
                <div class="col-lg-6 text-lg-end text-center">
                    <p class="mb-0">
                                                    Copyright 2023 hyip max. all rights reserved.
                                            </p>
                </div>
            </div>
        </div>
    </div>
</footer>

    

    <button type="button" class="sp_btn sp_btn_sm btn-floating" id="btn-back-to-top">
        <i class="fas fa-arrow-up text-light"></i>
    </button>

    <script src="../../asset/common/js/jquery.min.js"></script>
    <script src="../../asset/common/js/bootstrap.bundle.min.js"></script>
    <script src="../../asset/common/js/slick.min.js"></script>
    <script src="../../asset/common/js/iziToast.min.js"></script>
    <script src="../../asset/theme1/frontend/js/main.js"></script>

        


    
    
    
    




    <script>
        'use strict'


        $(document).on('submit', '#subscribe', function(e) {
            e.preventDefault();
            const email = $('.subscribe-email').val();
            var url = "https://hyipmax.springsoftit.com/demo/subscribe";
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    email: email,
                },
                success: (data) => {
                    iziToast.success({
                        message: data.message,
                        position: 'topRight',
                    });
                    $('.subscribe-email').val('');

                },
                error: (error) => {
                    if (typeof(error.responseJSON.errors.email) !== "undefined") {
                        iziToast.error({
                            message: error.responseJSON.errors.email,
                            position: 'topRight',
                        });
                    }

                }
            })

        });

        var url = "https://hyipmax.springsoftit.com/demo/changeLang";

        $(".changeLang").change(function() {
            if ($(this).val() == '') {
                return false;
            }
            window.location.href = url + "?lang=" + $(this).val();
        });
        //Get the button
        let mybutton = document.getElementById("btn-back-to-top");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        mybutton.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>


</body>


</html>
