.login_relative{
    background-image: url("/depo/admin/assets/img/login_bg.png");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
.login_absolute{
    margin: auto;
    top: 0;
    right: 0;
    background-color: #0a0f16;
    width:38%;
}
.login_overlay_behind{
    top: 0;
    right:0;
    left:0;
    bottom:0;
    background-color: #0a0f16;
    height:inherit;
    width:inherit;
    /*opacity: .2;*/
}
.admin_form{
    line-height: 1.8;
}
@media (max-width: 769px) {
    html .login_relative{
        position: static !important;
    }
    html .login_absolute{
        position: static !important;
        width:98%;
        margin:auto;
    }
}
