/*Load externals*/
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}
.form-container{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/*Form Style*/
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}
.depo-stat-con{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}
.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}
/*End form style*/
.circle-container{
    width:50px;
    height:50px;
}
.cursor-pointer{
    cursor:pointer;
}
.auth-error{
    font-size: 13px !important;
}
.depo-stat-hd{
    color: #000;
    font-size: 23px !important;
    line-height: 1;
    font-weight:bolder;
}
.depo-stat-bd{
    color: #0b1d26;
    font-size:14px !important
}
.note-dash{
    font-size: 14px;
}
.conf-depo{
    font-size: 23px;
    font-weight: bold;
    color: #0b2e13;
}
.make-depo{
    font-size: 14px;
    color: #32353a;
}

.addressSelectError{
    font-size:10px;
}